.align-center {
    display: flex;
    align-items: center;
}

.image.fit {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image img {
    object-fit: cover;
}